{
	"plugins": [
		"react"
	],
	"extends": [
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:react/recommended"
	],
	"env": {
    "browser": true
  },
  "globals": {
    "DEVMODE": false
  },
	"settings": {
		"import/resolver": {
			"webpack": {
				"config": "./build/webpack.development.config.js"
			}
		}
	},
	"rules": {
		// Enforce tabs instead of spaces
		"react/jsx-indent": ["error", "tab"],
		"react/jsx-indent-props": ["error", "tab"]
	}
}
