{
	"presets": [
		["env", {
			// Dynamically targeted feature transpilation
			"targets": {
				"browsers": [
					"last 2 Chrome versions",
					"last 2 Firefox versions",
					"last 2 Edge versions",
					"last 2 Safari versions"
				]
			},
			// Enable conditional polyfilling babel-polyfill
			"useBuiltIns": true,
			// For Webpack tree shaking
			"modules": false
		}]
	],
	// These are plugins for JS standard proposals that aren't yet fully
	// standardised but are well worth using now anyway. Anything that's already
	// fully standardised is covered by the env preset above
	"plugins": [
		// import()
		"syntax-dynamic-import",
		// @decorators - must be listed BEFORE class properties
		"transform-decorators-legacy",
		// Static class properties & ES2016 property initialiser syntax
		"transform-class-properties",
		// {...object}
		"transform-object-rest-spread",
		// Export extensions
		"transform-export-extensions",
		// React configured sans flow
		"syntax-jsx",
		"transform-react-jsx",
		"transform-react-display-name"
	]
}
