{
	"parser": "babel-eslint",
	"extends": [
		"standard"
	],
	"env": {
		"es6": true,
		"jest": true
	},
	"parserOptions": {
		"ecmaVersion": 2017
	},
	"rules": {
		// Enforce tabs instead of spaces
		"no-tabs": "off",
		"indent": ["error", "tab"],
		// Allow console; server obviously, client logs will be stripped in
		// production
		"no-console": "off"
	}
}
