nav.c-nav: ul.u-width-limiter.u-clearfix
	a(href='/').c-nav__item: li Play
	a(href='/').c-nav__item: li Groups
	a(href='/').c-nav__item: li Leaderboard
	a(href='/').c-nav__item: li Maps
	a(href='/').c-nav__item: li Addons
	a(href='/').c-nav__item: li Profile

