.c-server-picker-select
	.c-btn.c-btn--primary.js-server-picker-trigger.js-server-picker-target-name Orbit (London, UK) &#x25BC;
	.c-server-picker-select__details.js-server-picker-target-details 22 players in 3 games

.c-server-picker.js-server-picker-wrapper: ul.c-server-picker__inner
	li.c-server-picker__item.js-server-picker-action(data-server="eye")
		header
			| Eye
			br
			| (London, UK)
		div 21 players in 3 games
	li.c-server-picker__item.js-server-picker-action(data-server="tower")
		header
			| Tower
			br
			| (Paris, FR)
		div 158 players in 20 games
	li.c-server-picker__item.js-server-picker-action(data-server="poppy")
		header
			| Poppy
			br
			| (Amsterdam, NL)
		div 42 players in 6 games
	li.c-server-picker__item.js-server-picker-action(data-server="boot")
		header
			| Boot
			br
			| (Rome, IT)
		div 13 players in 2 games
	li.c-server-picker__item.js-server-picker-action(data-server="apple")
		header
			| Apple
			br
			| (New York, US)
		div 95 players in 12 games
	li.c-server-picker__item.js-server-picker-action(data-server="creative")
		header
			| Creative
			br
			| (Chicago, US)
		div 112 players in 14 games
	li.c-server-picker__item.js-server-picker-action(data-server="paddy")
		header
			| Paddy
			br
			| (Philadelphia, US)
		div 5 players in 1 game
	li.c-server-picker__item.js-server-picker-action(data-server="kiwi")
		header
			| Kiwi
			br
			| (Nelson, NZ)
		div 69 players in 9 games
