.c-btn
	padding: ($baseline-spacing / 2) $baseline-spacing
	text-align: center
	border: 2px solid transparent
	font-weight: bold
	user-select: none
	cursor: pointer

	&--primary
		border-radius: $baseline-spacing
		background: $color-primary

	&--secondary
		border-color: $color-primary
